body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.left {
    flex: 1;
    background-image: url('../imgs/main.jpg');
    background-size: cover;
    background-position: center;
}
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    text-align: center;
    justify-content: center;
}
.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.form-container input {
    align-self: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}
.button{
    background-color: #776d63;
}
.button:hover{
    background-color: #5c524f;
}